{% extends 'base.html.twig' %}

{% block title %}Remerciement{% endblock %}

{% block body %}

<div class="container">
<h1>Remerciement</h1>

<p>Merci d'avoir acheter sur FastBurger mais ce site est fictif !</p>

</div>

{% endblock %}
