{% extends 'base.html.twig' %}

{% block title %}Remerciement{% endblock %}

{% block body %}

<section class="container text-center">
<h1>Remerciement</h1>

<p>Merci d'avoir acheter sur FastBurger mais ce site est fictif !</p>
<p>Cliquer sur le bouton ci-dessous pour voir votre commande</p>

<a href="{{path('panier_pdf')}}" class="btn btn-primary">Voir ma commande en pdf</a>

</section>

{% endblock %}
