img {
    height: 250px;
    width: 100%;
}

.card {
    height: 500px;
}

td img {
    height: 100px;
    width: 100px;
}

.img2 {
    height: 250px;
    width: 25%;

}

.navigation {
    display: flex;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
}

.avatar-mini {
    height: 50px;
    width: 50px;
}

.price {
    font-size: 20px;
    background-color: #00b894;
    width: 70px;
    border-radius: 10%;
    position: absolute;
    margin-top: -260px;
}

.burger{
    height: 550px;
}

h2{
    
    height: 50px;
    
    text-align: center;

}

h1{
    text-align: center;
    background-color: white;
}

.logo{
    height: 150px;
    width: 150px;
}

.logo1{
    height: 90px;
    width: 90px;

}

.logo2{
    height: 50px;
    width: 50px;

}

#carousel-burger{
    background-image: url('../../public/images/bg.png');
    color: white;
}

body{
    background-image: url('../../public/images/bg.png');
    color: white;
}

section{
    padding: 50px;
    background-color: white;
}



