
img{
    height: 250px;
    width: 100%;
}

.card{
    height: 500px;
}

td img{
    height: 100px;
    width: 100px;
}

.img2{
    height: 250px;
    width: 25%;
    
}

.navigation{
    display: flex;
    justify-content: center;
}