{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}

<section  class="container mt-3 mb-3">
    <h1>Modification du profil</h1>

    {{form_start(form)}}

      {{form_widget(form)}} 

      <button class="btn btn-primary" type="submit">Enregistrer les modifications</button>

    {{form_end(form)}}
</section >

{% endblock %}